/* JobPage.module.css */

.pageContainer {
  padding: 2rem;
  background-color: var(--background-color);
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.locationSelect {
  font-weight: bold;
  margin-left: 0.5rem;
}

.filterTabs {
  margin-bottom: 2rem;
}

.jobGrid {
  display: grid;
  gap: 2rem;
}

.jobCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
}

.applyButton {
  background-color: var(--background-color);
  color: white;
  border-radius: 0px 0px 4px 4px;
}

.infoButton {
  border-color: #1976d2;
  color: #1976d2;
  font-size: 0.8rem;
  padding: 4px 8px;
}

.infoButton:hover {
  border-color: #155a9d;
  color: #155a9d;
}
