/* MenuButton.css */

.menuButton {
    margin-left: -2vw;
    border-radius: 0; /* Remove border radius for a square shape */
    width: 5vw; /* Responsive width (10% of viewport width) */
    height: 100%; /* Make height 100% of its container (app bar height) */
    transition: background-color 0.3s, color 0.3s; /* Optional: smooth transition for hover */
  }
  
  .menuButton:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
    color: black; /* Change the icon color on hover */
  }
  
  .menuButton:focus {
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove the default box shadow for focused elements */
  }
  