.subDrawer {
  z-index: 1300; /* Ensure it's above the sidebar */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Paper styles for the subdrawer */
.subDrawerPaper {
  width: 20vw; /* Adjust width to fit next to the sidebar */
  max-width: 30vw; /* Limit maximum width */
  outline: none;

  box-shadow: 30px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  border-radius: 0 0 0 0; /* Rounded corners for smooth edges */
}

/* Container for content inside the subdrawer */
.subDrawerContent {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100%; /* Ensure content stretches to fill the height */
  padding: 20px 10px 10px 10px;
  /* overflow-y: auto; */
}
